body{
  background-color: #f5d142;
}
button{
  border: none;
  background-color: #f59642;
  border-radius: 16px;
  width: 100px;
height: 50px;
cursor: pointer;
color: white;
text-decoration: none;
margin-left: 50%;
margin-top: 20%;
}
button:hover{
background-color: gray;
}
button:active{
  background-color:pink;
  transform: translatey(4px);
  box-shadow: 0 5px black;
}
